.cursor {
    /*
    height: 24px;
    width: 24px;
    border-radius: 24px;
    border: solid 1px $white;
    background-color: rgba($white, 1);
    position: absolute;
    //z-index: 1000000!important;
    transform: translate(-50%, -50%) scale(1);
    /* @media (hover: none) {
        display: none;
    }
    //*/
}