.popup {
    @extend .h-100,
    .w-100,
    .fixed-top;
    background: rgba(0, 0, 0, .8);
    height: auto;
    position: absolute;
    z-index: 20!important;
    .container {
        .row {
            .col {
                @extend .col-12,
                .h-100;
                color: $white!important;
                .content {
                    @extend .bg-dark,
                    .p-4;
                }
            }
        }
    }
    &__header {
        @extend .d-flex,
        .w-100;
        color: $white;
        font-size: 28px;
        .close {
            @extend .ml-auto;
        }
    }
    &--hidden {
        visibility: hidden!important;
        display: none!important;
        height: 0!important;
        width: 0!important;
    }
}